@media (max-width: 1919px) {
    .digital__title {
        font-size: 75px;
    }

    .digital__title-world {
        margin-right: 111px;
    } 

    .digital-card__image {
        height: 120px;
        width: auto;
    }

    .digital-card {
        padding: 15px 30px 15px 15px;
        border-radius: 11px;
        gap: 15px;
    }

    .digital-card__text {
        font-size: 15px;
        max-width: 220px;
    }

    .digital-card__arrow {
        top: 11px;
        right: 11px;
    }

    .digital-card__arrow img {
        width: 14px;
        height: 14px;
    }

    /* footer */
    .footer {
        padding-top: 75px;
    }
}

@media (max-width: 1270px) {
    .digital__title {
        font-size: 60px;
    }

    .digital-card__image {
        height: 90px;
        width: auto;
    }
}

@media (max-width: 1024px) {
    .hero {
        padding-bottom: 30px;
    }

    .hero::before {
        height: 100%;
        rotate: 0deg;
    }

    .hero__bottom {
        gap: 47px;
    }

    .digital-card {
        align-self: flex-end;
    }
}

@media (max-width: 570px) {
    .digital__title {
        flex-direction: column-reverse;
        display: flex;
        gap: 12px;
        font-weight: 400;
        font-size: 25px;
        line-height: 80%;
        letter-spacing: -0.03em;
        color: #fff;
    }

    .digital__title br {
        display: none;
    }

    .digital__title-line {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 80px;
        line-height: 80%;
        letter-spacing: -0.03em;
        color: #fff;
        gap: 6px;
    }

    .digital-card {
        align-self: flex-start;
    }

    .digital-card__arrow {
        display: none;
    }

    .digital-card {
        border-radius: 8px;
        gap: 10px;
        padding: 18px 34px 13px 13px;
    }

    .digital-card__text {
        font-size: 12px;
        line-height: 142%;
        max-width: 164px;
    }

    .digital-card__image {
        height: 98px;
    }
}