@media (max-width: 1919px) {
    .digital__title {
        font-size: 75px;
    }

    .digital__title-world {
        margin-right: 111px;
    } 

    .digital-card__image {
        height: 120px;
        width: auto;
    }

    .digital-card {
        padding: 15px 30px 15px 15px;
        border-radius: 11px;
        gap: 15px;
    }

    .digital-card__text {
        font-size: 15px;
        max-width: 220px;
    }

    .digital-card__arrow {
        top: 11px;
        right: 11px;
    }

    .digital-card__arrow img {
        width: 14px;
        height: 14px;
    }

    /* footer */
    .footer {
        padding-top: 75px;
    }
}

@media (max-width: 1270px) {
    .digital__title {
        font-size: 60px;
    }

    .digital-card__image {
        height: 90px;
        width: auto;
    }
}